---
  import './blogFooter.scss';
  export interface Props {
    shareText?: string;
    slug?: string;
  }
  const { slug = '', shareText = 'Hi i am amir arab, a Front-end Developer' } = Astro.props as Props;

  const address = 'https://amir4rab.com/blog/' + slug;
  const twitterUrl = 'https://twitter.com/intent/tweet?text=' + shareText + ' read more: ' + address;
  const linkedinUrl = 'https://www.linkedin.com/shareArticle?' + shareText + ' read more: ' + address;
  const redditUrl = 'https://www.reddit.com/submit?url=' + address;
  const ycombinatorUrl = 'https://news.ycombinator.com/submitlink?u=' + address;
  const facebookUrl = 'https://www.facebook.com/sharer.php?u=' + address;
  const whatsappUrl = 'whatsapp://send?text=' + shareText + ' read more: ' + address;
  const shareingText = shareText + ' read more: ' + address;
---

<footer class={ 'blogFooter' }>
  <p class={ 'title' }>Have you found this post helpfull?</p>
  <div class={ 'row' }>
    <button id='webShare' class={ 'actionButton' }>
      Share it
    </button> 
    <button id='copyToClipboard' class={ 'actionButton' }>
      Copy Link
    </button>
  </div>
  <p class={ 'title' }>Or share it in social media</p>
  <div class={ 'row' }>
    <a href={facebookUrl} rel='noreferrer' target='_blank' class={ 'socialMediaButton' }>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><title>Facebook</title>
        <path d="M21.3408 1.5H2.65922C2.35181 1.50012 2.05703 1.6223 1.83966 1.83966C1.6223 2.05703 1.50012 2.35181 1.5 2.65922V21.3408C1.50012 21.6482 1.6223 21.943 1.83966 22.1603C2.05703 22.3777 2.35181 22.4999 2.65922 22.5H12V14.25H9.48984V11.25H12V8.85938C12 6.14719 13.8811 4.67062 16.3041 4.67062C17.4633 4.67062 18.7102 4.75781 18.9998 4.79625V7.62891H17.0695C15.7514 7.62891 15.5002 8.25234 15.5002 9.17109V11.25H18.6408L18.2306 14.25H15.5002V22.5H21.3408C21.6482 22.4999 21.943 22.3777 22.1603 22.1603C22.3777 21.943 22.4999 21.6482 22.5 21.3408V2.65922C22.4999 2.35181 22.3777 2.05703 22.1603 1.83966C21.943 1.6223 21.6482 1.50012 21.3408 1.5V1.5Z"/>
        </svg>        
    </a>
    <a href={ycombinatorUrl} rel='noreferrer' target='_blank'  class={ 'socialMediaButton' }>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><title>Hacker news</title>
      <path d="M1.5 1.5V22.5H22.5V1.5H1.5ZM13.2033 13.2577V17.1952H11.0156V13.2577L7.40625 6.69516H9.98438L12.1556 11.2673L14.2336 6.69516H16.7053L13.2033 13.2577Z"/>
      </svg>
    </a>
    <a href={linkedinUrl} rel='noreferrer' target='_blank'  class={ 'socialMediaButton' }>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><title>Linkedin</title>
      <path d="M20.8205 1.5H3.29437C2.33672 1.5 1.5 2.18906 1.5 3.13547V20.7005C1.5 21.652 2.33672 22.5 3.29437 22.5H20.8153C21.7781 22.5 22.5 21.6464 22.5 20.7005V3.13547C22.5056 2.18906 21.7781 1.5 20.8205 1.5ZM8.00953 19.0045H5.00109V9.65063H8.00953V19.0045ZM6.60938 8.22844H6.58781C5.625 8.22844 5.00156 7.51172 5.00156 6.61453C5.00156 5.70094 5.64141 5.00109 6.62578 5.00109C7.61016 5.00109 8.2125 5.69578 8.23406 6.61453C8.23359 7.51172 7.61016 8.22844 6.60938 8.22844ZM19.0045 19.0045H15.9961V13.89C15.9961 12.6647 15.5583 11.8275 14.4698 11.8275C13.6383 11.8275 13.1461 12.39 12.9272 12.938C12.8452 13.1348 12.8231 13.403 12.8231 13.6767V19.0045H9.81469V9.65063H12.8231V10.9523C13.2609 10.3289 13.9448 9.43172 15.5363 9.43172C17.5111 9.43172 19.005 10.7334 19.005 13.5398L19.0045 19.0045Z"/>
      </svg>                
    </a>
    <a href={redditUrl} rel='noreferrer' target='_blank'  class={ 'socialMediaButton' }>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><title>Reddit</title>
      <path d="M15.1875 12C14.8537 12 14.5275 12.099 14.25 12.2844C13.9725 12.4698 13.7562 12.7334 13.6285 13.0417C13.5007 13.3501 13.4673 13.6894 13.5324 14.0167C13.5975 14.3441 13.7583 14.6447 13.9943 14.8807C14.2303 15.1168 14.5309 15.2775 14.8583 15.3426C15.1856 15.4077 15.5249 15.3743 15.8333 15.2466C16.1416 15.1188 16.4052 14.9025 16.5906 14.625C16.776 14.3475 16.875 14.0213 16.875 13.6875C16.875 13.2399 16.6972 12.8107 16.3807 12.4943C16.0643 12.1778 15.6351 12 15.1875 12Z"/>
      <path d="M9.45803 15.2465C10.3191 14.8898 10.728 13.9027 10.3713 13.0417C10.0146 12.1806 9.02751 11.7717 8.16647 12.1284C7.30543 12.485 6.89655 13.4722 7.2532 14.3332C7.60985 15.1943 8.59699 15.6031 9.45803 15.2465Z"/>
      <path d="M23.25 11.8955C23.25 10.4334 22.0716 9.24422 20.625 9.24422C20.0153 9.24417 19.4248 9.45742 18.9558 9.84703C17.3152 8.73281 15.1692 8.05078 12.8785 7.9125L13.9097 4.20938L17.0227 4.82812C17.1117 6.06937 18.1477 7.05422 19.3969 7.05422C20.7094 7.05422 21.7772 5.97609 21.7772 4.65375C21.7772 3.33141 20.6719 2.25 19.3594 2.25C18.4439 2.25 17.6574 2.77453 17.2571 3.59859L13.0383 2.76L11.5805 7.89375L11.3635 7.89984C8.99018 8.00344 6.75377 8.69344 5.04612 9.84656C4.57725 9.45552 3.98556 9.24224 3.37503 9.24422C1.92706 9.24422 0.750026 10.4334 0.750026 11.8955C0.747959 12.3608 0.868695 12.8185 1.10004 13.2223C1.33139 13.626 1.66517 13.9616 2.06768 14.1952C2.03965 14.4024 2.02571 14.6113 2.02596 14.8205C2.03112 16.6833 3.08018 18.4298 4.97909 19.7423C6.86065 21.0361 9.35205 21.75 12 21.75C14.648 21.75 17.145 21.0361 19.0233 19.7395C20.9231 18.427 21.9694 16.68 21.9694 14.8148C21.969 14.6064 21.9558 14.3982 21.93 14.1914C22.3328 13.9589 22.6669 13.6241 22.8987 13.2209C23.1305 12.8178 23.2517 12.3605 23.25 11.8955V11.8955ZM19.4063 3.51562C19.6288 3.51562 19.8463 3.58161 20.0313 3.70522C20.2163 3.82884 20.3605 4.00454 20.4456 4.21011C20.5308 4.41567 20.5531 4.64187 20.5097 4.8601C20.4662 5.07833 20.3591 5.27879 20.2018 5.43612C20.0444 5.59345 19.844 5.7006 19.6257 5.74401C19.4075 5.78742 19.1813 5.76514 18.9758 5.67999C18.7702 5.59484 18.5945 5.45065 18.4709 5.26564C18.3473 5.08064 18.2813 4.86313 18.2813 4.64062C18.2813 4.34226 18.3998 4.05611 18.6108 3.84513C18.8218 3.63415 19.1079 3.51563 19.4063 3.51562ZM2.00253 11.8955C2.00115 11.528 2.14557 11.1751 2.40411 10.914C2.66264 10.6529 3.01417 10.505 3.38159 10.5028C3.60436 10.5033 3.8236 10.5585 4.02003 10.6636C3.29346 11.3391 2.75768 12.0891 2.42299 12.8986C2.29029 12.7673 2.18484 12.6111 2.11268 12.439C2.04052 12.2668 2.00309 12.0821 2.00253 11.8955V11.8955ZM18.3197 18.7031C16.6444 19.8558 14.401 20.4909 12.0024 20.4909C9.60377 20.4909 7.3594 19.8567 5.68549 18.7031C4.13862 17.6348 3.28362 16.2534 3.28362 14.8125C3.28448 14.3759 3.36305 13.9429 3.51565 13.5338C3.7819 12.7959 4.27315 12.105 4.97581 11.4811C5.19534 11.2872 5.42638 11.1067 5.66768 10.9406L5.68174 10.9308L5.69299 10.9228C7.36737 9.77344 9.60799 9.14156 12.0028 9.14156C14.3977 9.14156 16.6388 9.77484 18.3131 10.9228L18.3239 10.9308L18.3399 10.9425C18.5808 11.1079 18.8117 11.2876 19.0313 11.4806C19.7344 12.105 20.2256 12.7955 20.4919 13.5342C20.5885 13.8023 20.6562 14.08 20.6939 14.3625C20.7127 14.5125 20.7221 14.6636 20.7221 14.8148C20.7216 16.2548 19.8685 17.6362 18.3197 18.7031ZM21.5822 12.8944C21.248 12.0844 20.7122 11.3339 19.9852 10.6575C20.1824 10.5535 20.4021 10.4994 20.625 10.5C20.9924 10.5022 21.3439 10.6501 21.6023 10.9112C21.8608 11.1723 22.0051 11.5253 22.0036 11.8927C22.0033 12.0794 21.9659 12.2641 21.8935 12.4363C21.8212 12.6084 21.7154 12.7644 21.5822 12.8953V12.8944Z"/>
      <path d="M15.1517 16.9791C15.14 16.9908 13.9536 18.2011 12.0041 18.2105C10.0353 18.2011 8.8972 17.0278 8.84892 16.9791C8.81257 16.943 8.76346 16.9228 8.71228 16.9228C8.66109 16.9228 8.61198 16.943 8.57564 16.9791L7.93345 17.6105C7.91524 17.6286 7.90078 17.6501 7.89092 17.6737C7.88105 17.6974 7.87598 17.7229 7.87598 17.7485C7.87598 17.7742 7.88105 17.7996 7.89092 17.8233C7.90078 17.847 7.91524 17.8685 7.93345 17.8866C8.09282 18.0459 9.56001 19.4911 12.0013 19.5014C14.4359 19.4911 15.9097 18.0459 16.0691 17.8866C16.0873 17.8684 16.1018 17.8469 16.1116 17.8232C16.1215 17.7994 16.1266 17.774 16.1266 17.7483C16.1266 17.7226 16.1215 17.6971 16.1116 17.6734C16.1018 17.6497 16.0873 17.6281 16.0691 17.61L15.4264 16.9786C15.3902 16.9427 15.3412 16.9226 15.2902 16.9226C15.2393 16.9226 15.1903 16.9427 15.1541 16.9786L15.1517 16.9791Z"/>
      </svg>
    </a>
    <a href={twitterUrl} rel='noreferrer' target='_blank'  class={ 'socialMediaButton' }>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><title>Twitter</title>
      <path d="M23.25 5.13282C22.406 5.49955 21.513 5.74115 20.5992 5.85001C21.5595 5.28768 22.2817 4.39433 22.6303 3.33751C21.7224 3.86841 20.7307 4.24092 19.6978 4.43907C19.2629 3.98322 18.7397 3.62059 18.1603 3.3732C17.5808 3.12581 16.9571 2.99884 16.327 3.00001C13.7761 3.00001 11.7117 5.03438 11.7117 7.54219C11.7099 7.89102 11.7499 8.23881 11.8308 8.57813C10.0016 8.49238 8.2104 8.02575 6.57187 7.20809C4.93333 6.39044 3.48351 5.23977 2.31516 3.82969C1.90527 4.52069 1.6885 5.30909 1.6875 6.11251C1.6875 7.6875 2.50922 9.07969 3.75 9.89532C3.01487 9.87787 2.29481 9.6833 1.65094 9.32813V9.38438C1.65094 11.5875 3.24469 13.4203 5.35406 13.8375C4.9574 13.9432 4.54864 13.9968 4.13812 13.9969C3.84683 13.9974 3.5562 13.9691 3.27047 13.9125C3.85687 15.7172 5.56359 17.0297 7.58531 17.0672C5.94252 18.3332 3.9256 19.0175 1.85156 19.0125C1.48341 19.0119 1.11561 18.99 0.75 18.9469C2.85993 20.2942 5.31255 21.0068 7.81594 21C16.3172 21 20.9616 14.0766 20.9616 8.07188C20.9616 7.875 20.9564 7.67813 20.947 7.48594C21.8485 6.84472 22.6283 6.04787 23.25 5.13282V5.13282Z"/>
      </svg>
    </a>
    <a href={whatsappUrl} rel='noreferrer' target='_blank'  class={ 'socialMediaButton' }>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><title>Whatsapp</title>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M19.4405 4.55161C18.4697 3.58039 17.3165 2.81077 16.0471 2.28706C14.7777 1.76334 13.4172 1.49587 12.0441 1.50005C6.28125 1.50005 1.59 6.16786 1.58766 11.9063C1.58511 13.7335 2.06676 15.5288 2.98359 17.1094L1.5 22.5001L7.04297 21.053C8.57729 21.8842 10.2948 22.3193 12.0398 22.3187H12.0441C17.8064 22.3187 22.4972 17.6504 22.5 11.9124C22.5035 10.5439 22.2348 9.18839 21.7095 7.92471C21.1843 6.66103 20.413 5.51443 19.4405 4.55161V4.55161ZM12.0441 20.5622H12.0403C10.4847 20.5627 8.95739 20.1464 7.61719 19.3566L7.29984 19.1691L4.01062 20.0279L4.88859 16.8361L4.68187 16.508C3.81206 15.1309 3.35121 13.5351 3.35297 11.9063C3.35297 7.13771 7.25344 3.25786 12.0473 3.25786C14.347 3.25375 16.5542 4.16327 18.1833 5.78636C19.8125 7.40945 20.7302 9.61318 20.7347 11.9129C20.7328 16.6819 16.8342 20.5622 12.0441 20.5622ZM16.8108 14.0846C16.5497 13.9543 15.2639 13.3252 15.0258 13.2385C14.7877 13.1518 14.6119 13.1082 14.438 13.3688C14.2641 13.6294 13.763 14.2126 13.6106 14.3883C13.4583 14.5641 13.3059 14.5833 13.0448 14.453C12.7838 14.3227 11.9414 14.0485 10.9434 13.1626C10.1667 12.473 9.64266 11.6218 9.49031 11.3616C9.33797 11.1015 9.47391 10.9604 9.60469 10.831C9.72234 10.7143 9.86578 10.5272 9.99656 10.3754C10.1273 10.2235 10.1709 10.1147 10.2577 9.9413C10.3444 9.76786 10.3012 9.61599 10.2361 9.48614C10.1709 9.3563 9.64828 8.07614 9.43078 7.55536C9.21844 7.04817 9.00328 7.11708 8.84297 7.10911C8.69062 7.10161 8.51484 7.09974 8.34188 7.09974C8.20965 7.10318 8.07955 7.13384 7.9597 7.18982C7.83985 7.24579 7.73283 7.32587 7.64531 7.42505C7.40578 7.68568 6.73078 8.31568 6.73078 9.59443C6.73078 10.8732 7.66828 12.1107 7.79766 12.2841C7.92703 12.4576 9.63984 15.084 12.2606 16.2104C12.7473 16.4188 13.2445 16.6015 13.7503 16.7579C14.3761 16.9557 14.9456 16.928 15.3956 16.861C15.8977 16.7865 16.9425 16.2319 17.1595 15.6244C17.3766 15.0169 17.377 14.4966 17.3119 14.3883C17.2467 14.2801 17.0723 14.2144 16.8108 14.0846Z"/>
      </svg>
    </a>
  </div>
  <p aria-label='hidden' style='display:none' id='shareText'>{ shareingText }</p>
  <p aria-label='hidden' style='display:none' id='shareUrl'>{ shareingText }</p>
</footer>

<script>
  const copyToClipboard = document.getElementById('copyToClipboard');
  const webShare = document.getElementById('webShare');
  const shareText = document.getElementById('shareText').innerText;
  const shareUrl = document.getElementById('shareUrl').innerText;

  const checkAvailability = () => {
    try {
      if ( navigator.canShare && typeof ClipboardItem !== 'undefined' ) {
        webShare.addEventListener('click', async () => {
          if ( navigator.canShare ) {
            navigator.share({
              text: shareText,
            })
          }
        })
      } else {
        webShare.remove();

      };
    } catch(err) { console.error(err) };
    try {
      if ( navigator.clipboard ) {
        copyToClipboard.addEventListener('click', async () => {
          try {
            console.log(shareText);
            await navigator.clipboard.writeText(shareUrl);
          } catch( err ) {
            console.error(err)
          }
        })
        } else {
        copyToClipboard.remove()
      };
    } catch(err) { console.error(err) };
  };
  checkAvailability();

</script>